.jumbotron {
  background-color: #66CDAA;
  color: #085f63;
  margin-bottom: 0px;
  margin-top: 50px;
  font-family: Paloseco;
  font-size: 35px;
  font-weight: bold; }

.breadcrumb {
  margin-bottom: 8px;
  margin-top: 32px; }

.card-lib {
  flex: 1 200px;
  margin-bottom: 0px;
  margin-top: 10px; }

.btn-pedirLib {
  color: #FFFFFF;
  background-color: #2ECC71;
  width: 100%;
  border-radius: 0px; }

div#detallePrecios {
  color: #085f63; }

.tab-content {
  padding-top: 10px; }

footer {
  padding: 10px 10px 0px 10px;
  color: #FDFEFE;
  background-color: #66CDAA;
  margin-bottom: 0px;
  margin-top: 10px; }

div#divfooter {
  background-color: #20B2AA;
  color: #FDFEFE; }

.footer-address-icon {
  padding-right: 10px; }
