
$yellow: #FDFEFE;
$red: #085f63;
$green: #FFFFFF;


@mixin colores($col){
	color: $col;
}

@mixin colorFondo($colf){
	background-color: $colf;	
}

@mixin margenes($bottom, $top){
	margin-bottom: $bottom;
	margin-top: $top;
}

.jumbotron{
	@include colorFondo(#66CDAA);
	color: $red;
	@include margenes(0px, 50px);
	font-family: Paloseco;
	font-size: 35px;
	font-weight:bold;

}
.breadcrumb{
	@include margenes(8px, 32px);
}
.card-lib{
	flex: 1 200px;
	@include margenes(0px, 10px);
}

.btn-pedirLib{
	color: $green;
	@include colorFondo(#2ECC71);
	width: 100%;
	border-radius: 0px;

}
div#detallePrecios{
	@include colores(#085f63);
}
.tab-content{
	padding-top: 10px;	
}

footer{
	padding: 10px 10px 0px 10px;
	color: $yellow;
	@include colorFondo(#66CDAA);
	@include margenes(0px, 10px);
}

div#divfooter{
	@include colorFondo(#20B2AA);
	@include colores(#FDFEFE);

}

.footer-address-icon{
	padding-right: 10px;
}